/* COLORS */

$main__color: #64eebc;
$withe__color: #ffffff;
$withe__border: rgba(255, 255, 255, 1);
$black__background--menu: rgba(36, 36, 36, 0.9);
$black__background--movie: rgba(36, 36, 36, 0.7);
$black__background--menuHover: #242424b2;
$black__strong: #242424;
$error__color: #ff0000;
$border__button: rgba(255, 255, 255, 0.5);
