/* COLORS */

$main__color: #64eebc;
$withe__color: #ffffff;
$black__background--menu: rgba(36, 36, 36, 0.9);
$black__background--menuHove: #242424b2;
$black__strong: #242424;
$error__color: #ff0000;
$border__button: rgba(255, 255, 255, 0.5);
$a: #e5e5e5;
