@import "../../styles/base.scss";

.mainTitle {
    color: $main__color;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 16px;
    line-height: 10vw;
    margin-top: 24px;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .mainTitle {
        display: flex;
        justify-content: center;
        letter-spacing: 2vw;
        line-height: 10vw;
        margin: 16px auto;
        min-height: 110px;
        text-align: center;
        word-wrap: break-word;
    }
}
